.produtoImagen{
    width: 400px !important;
    height: 510px !important;
    object-fit: cover;
    border-radius: 14px;
    border: 3px solid var(--cor-primaria) !important;
    cursor: -webkit-zoom-in;
    &:hover{
        transition: 100ms;
        transform: scale(1.01);}
}

.produtoImagensContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.containerLateral{
    display: flex;
    position: absolute;
    transform: translateX(-140%);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    max-width: 60px;
    width: 60px !important;
}