.configuracoes{
    display: flex;
    width: 564px;
    padding: 50px 87px 36px 87px;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    flex-shrink: 0;
    height: fit-content;
    border-radius: 14px;
    background: var(--background-interno);
    box-shadow: var(--box-shadow);
}

.configBox{
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 564px;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.configBoxContent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.textoBox{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0px;
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    text-wrap: nowrap;
    font-size: 16px;
}

.titulo{
    margin: 0;
    color: var(--escrita);
    font-weight: 500;
}

.descricao{
    margin: 0;
    color: var(--detalhes);
    font-size: 12px;
    font-weight: 400;
}

.configSeta{
    width: 40px;
    height: 40px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;
    padding: 20px 20px 20px 13px;
    flex-shrink: 0;
    gap: 40px;
    height: fit-content;
    border-radius: 14px;
    background: var(--background-interno);
    box-shadow: var(--box-shadow);
}

.infoBox{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    min-height: 75px;
    padding: 7px 20px;
    align-items: center;
    min-width: 340px;
    gap: 20px;
    align-self: stretch;
    border-radius: 17px;
    background: var(--background-interno);
    outline: none;
}

/* usuario */

.imagemUsuario{
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: 3px solid var(--cor-primaria) !important;
}

.perfilInfo{
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.nome{
    color: var(--escrita);
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

.email{
    color: var(--detalhes);
    font-size: 14px;
    font-weight: 500;
}

.infoBoxLabel{
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-left: 20px;
}

.infoBoxEndereco{
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 14px 25px;
    max-height: 325px;
}

.enderecoCampo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.enderecoLabel{
    color: var(--escrita);
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}

.enderecoValor{
    color: var(--escrita);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.adicionar{
    outline: none;    
    &:hover{
        outline: 2px solid var(--detalhes);
    }
}
