.cabecalho{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    justify-content: center;
    background-color: var(--cor-primaria);
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.cabecalho__container{
    width: 0.1px;
    height: 100px;
    background-color: transparent;
}

.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 180px;
    gap: 40px;
}