.imagemLateralContainer{
    background-color: transparent;
    padding: 0px;
    margin: 0;
    padding-bottom: 0px;
    aspect-ratio: 4/4;
    border-radius: 6px;
    border: 2px solid var(--cor-primaria);
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    transition: 0.5s;
}

.imagemLateralContainer:hover{
    opacity: 1 !important;
}

.imagemLateral{
    border-radius: 6px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    padding: 0;
    transition: transform 0.5s;
}